<div class="row">


  <div class="col-sm-4">


    <form #homeworkForm="ngForm">
      <h4 style="text-align:left">Course Homework</h4>
     
       
        <mat-form-field>
        <input matInput  id="name" width="200px" name="name" placeholder="Name" required [(ngModel)]="homework.Name"  #name="ngModel"
        />
      </mat-form-field>
     
      <!-- <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
        <!-- <div *ngIf="name.errors.required">
          Name is required.
        </div>
      </div> -->
      
          <mat-form-field>
        <textarea  matInput id="description" name="description" placeholder="Description" required [(ngModel)]="homework.Description"
          #description="ngModel" ></textarea>
        </mat-form-field>
      
      <!-- <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert alert-danger">

        <div *ngIf="description.errors.required">
          Description is required.
        </div>
      </div> -->
      
       
        <mat-form-field>
            <mat-select placeholder="Select Course" id="course" name="course" [(ngModel)]="homework.Course" required #course="ngModel">       
             
            <mat-option *ngFor="let course of courses"  [value]="course">{{course}}</mat-option> 
  
          </mat-select>
          </mat-form-field>
        <!-- <div *ngIf="course.invalid && (course.dirty || course.touched)" class="alert alert-danger">
          <div *ngIf="course.errors.required">
            course is required.
          </div>
        </div> -->
     
      <div class="form-group">
        <input type="button" [disabled]="!homeworkForm.valid" class="btn btn-primary" (click)="assignHomework()" value="AssignHomework"
        />
      </div>
    </form>

  </div>
  <div class="col-sm-8">
    <mat-accordion>
      <div *ngFor="let hw of empHomeworks;let i =index">
      <mat-expansion-panel id ={{i}} [expanded]="step == i" (opened)="setStep(i)">
        <mat-expansion-panel-header>
            <!-- <mat-checkbox>Assign</mat-checkbox> -->
          <mat-panel-title>
            {{hw.Name}}
          </mat-panel-title>
          <mat-panel-description>
          <span style="text-align:left"> {{hw.Email}}</span> 
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div *ngFor="let hh of hw.Hworks" class="bk">
          <mat-form-field>
            <input matInput id="hw" name="hw" placeholder="Homework" disabled value="{{hh.Name}}">
          </mat-form-field>
          <mat-form-field>
            <textarea matInput id="desc" name="desc" placeholder="Description" disabled value="{{hh.Description}}"></textarea>
          </mat-form-field>  
          <mat-form-field>
              <input matInput id="repo" name="repo" placeholder="Source Repo" [(ngModel)]="hh.Repo" value="{{hh.Repo}}">
            </mat-form-field> 
            <br>       
           
        </div>
        <br>
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-6">
              <mat-radio-group>
                  <mat-radio-button value="1" style="color:red">!Started</mat-radio-button>
                  <mat-radio-button value="2" >Review</mat-radio-button>
                  <mat-radio-button value="3">Completed</mat-radio-button>
                </mat-radio-group>
          </div>
          <div class="col-md-4"> <button id="singlebutton" name="singlebutton" class="btn btn-primary" (click)="saveEmpHomework(hw)">Save</button> </div>
        </div>
      
        <!-- <mat-form-field>
          <input matInput placeholder="Age">
        </mat-form-field> -->
      </mat-expansion-panel>
    </div>
    </mat-accordion>
    <!-- <table class="table table-striped table-bordered">
      <thead style="color: #fff; background-color: #212529; border-color: #32383e;">

        <th>#</th>
        <th>Name</th>
        <th>Email</th>
        <th>howework</th>
        <th>gitrepo</th>
        <th></th>
      </thead>
      <tbody>
        <tr *ngFor="let hw of empHomeworks;let i=index">
          <td>{{i+1}}</td>
          <td>{{hw.Name}}</td>
          <td>{{hw.Email}}</td>
          <td>
            <table>
              <tr *ngFor="let hh of hw.HomeworkStatus">
                <td>{{hh.name}}
                  <input type="checkbox" [(ngModel)]="hh.status" [checked]="hh.status">
                </td>
              </tr>
            </table>
          </td>
          <td>{{hw.gitrepo}}</td>
         
          <td>

            <a (click)="cancel()" *ngIf="IsEdit==true">
                  <span class="glyphicon glyphicon-remove"></span>
                </a>
            <a (click)="updateHomework(hw)">
                  <span class="glyphicon glyphicon-edit"></span>
                </a>
          </td>
        </tr>
      </tbody>
    </table> -->

  </div>


</div>