.bk{
    display:inline-block !important;
}


.right-aligned-header > .mat-content {
    justify-content: space-between !important;
}

.mat-content > mat-panel-title, .mat-content > mat-panel-description {
  flex: 0 0 auto !important;
}