<!-- <div class="container">
    
  <mat-tab-group>
      
<div class="row">
    <mat-tab label="Course Registration">
   
        <div class="col-sm-4">
          <app-course-registration></app-course-registration>
          </div>
          <div class="col-sm-8">
             <app-take-attendance></app-take-attendance> 
            </div>
      </mat-tab>

</div>
<mat-tab label="Course Attendance">
<app-course-attendance></app-course-attendance>
</mat-tab>
<mat-tab label="Homework">
  <app-homework></app-homework>
</mat-tab>
</mat-tab-group>
</div> -->

