<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-4">

      </div>

      <div class="col-sm-3">
        <h4 style="text-align:center">Course Attendance</h4>
      </div>
      <div class="col-sm-2">
        <mat-form-field class="pull-right">
          <input matInput placeholder="filter by email" [(ngModel)]="email" (input)="FilterByEmail($event.target.value)">

        </mat-form-field>
      </div>
      <div class="col-sm-3">
        <mat-form-field class="pull-right">
          <input matInput #ref [matDatepicker]="picker" [(ngModel)]="filterDate" placeholder="filter by date" (dateInput)="FilterByDate(ref.value)">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <!-- <table class="table table-striped table-bordered">
        <thead style="color: #fff; background-color: #212529; border-color: #32383e;">
          
          <th>#</th>
          <th>Name</th>
          <th>Email</th>
  
          <th>Course</th>
          <th>Session Date</th>
          <th></th>
        </thead>
        <tbody>
          <tr *ngFor="let atn of attendees;let i=index" [ngClass] ="{red: !atn.IsPresent}">
          <td>{{i+1}}</td>
            <td>{{atn.Name}}</td>
            <td>{{atn.Email}}</td>
            <td>{{atn.Course}}</td>
            <td ><span *ngIf="i!=editIndex">{{atn.SessionDate}}</span>
              
              <mat-form-field class="pull-right" *ngIf="IsEdit==true && i==editIndex">
                <input matInput #ref [matDatepicker]="picker" [(ngModel)]="atn.SessionDate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </td>
            <td>
              
              <a (click)="cancel()"  *ngIf="IsEdit==true" >
                <span class="glyphicon glyphicon-remove"></span>
              </a>
              <a (click)="edit(atn,i)" *ngIf="IsEdit==false">
                <span class="glyphicon glyphicon-edit"></span>
              </a>
            </td>
          </tr>
        </tbody>
      </table> -->


    <mat-table #table [dataSource]="dataSource">
      <ng-container matColumnDef="Name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let row"><span>{{row.Name}}</span></mat-cell>
      </ng-container>
      <ng-container matColumnDef="Email">
        <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
        <mat-cell *matCellDef="let row"><span>{{row.Email}}</span></mat-cell>
      </ng-container>
      <ng-container matColumnDef="IsPresent">
        <mat-header-cell *matHeaderCellDef>IsPresent</mat-header-cell>
        <mat-cell *matCellDef="let row;let i=index">

          <mat-checkbox name={{i}} id={{i}} [(ngModel)]="row.IsPresent" [disabled]="IsEdit==false || i!=editIndex" [checked]="row.IsPresent"></mat-checkbox>
          <span>{{row.IsPresent}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Course">
        <mat-header-cell *matHeaderCellDef>Course</mat-header-cell>
        <mat-cell *matCellDef="let row"><span>{{row.Course}}</span></mat-cell>
      </ng-container>

      <ng-container matColumnDef="SessionDate">
        <mat-header-cell *matHeaderCellDef>SessionDate</mat-header-cell>
        <mat-cell *matCellDef="let row"><span>{{row.SessionDate}}</span></mat-cell>
      </ng-container>

      <ng-container matColumnDef="Options">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let row;let i=index">
          <a (click)="cancel()" *ngIf="IsEdit==true">
                <span class="glyphicon glyphicon-remove"></span>
              </a>
          <a (click)="edit(row,i)" *ngIf="IsEdit==false">
                <span class="glyphicon glyphicon-edit"></span>
              </a>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>
  </div>
</div>